# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec
*.egg
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.code-workspace
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters

# App data
history.json
history_*.json

# Models (Large binaries)
*.bin
*.pt
aura-flow-cpp/models/

# CMake and C++ Build
out/
build/
bin/
*.exe
*.dll
*.pdb
*.obj
*.log
aura-flow-cpp/aura-flow-cpp_autogen/

# OS
Thumbs.db
Desktop.ini
.DS_Store
.directory
